:root {
    --nwa-header: #272725;
    --ble-midnight: #080a10;
    --gold: #d4af37;
    --blan: #ffffff;
    --blue-link: #2997ff;
    --gri-tèks: #86868b;
}

* { margin: 0; padding: 0; box-sizing: border-box; font-family: -apple-system, sans-serif; }

body { background: var(--ble-midnight); color: var(--blan); overflow-x: hidden; }

/* Header */
header { background: var(--nwa-header); border-bottom: 1px solid #333; position: sticky; top: 0; z-index: 1000; }
.header-top { display: flex; justify-content: space-between; padding: 10px 1%; align-items: center; }
.main-logo { height: 60px; margin-top: -10px;}
.location { color: var(--gold); font-size: 18px; font-weight: bold; cursor: pointer; margin-top: -37px; }

/* Search */
.search-row { padding: 0 1% ; 
margin-top: -20px;}
.search-box { display: flex; background: #fff; border-radius: 10px; overflow: hidden; height: 40px; 
width: 100%;}
.search-box input { flex: 1; border: none; padding: 0 15px; font-size: 16px; outline: none; }
.search-box button { background: var(--gold); border: none; width: 50px; cursor: pointer; }

/* Nav */
.main-nav { background: #1c1c1e; display: flex; gap: 20px; padding: 12px 5%; overflow-x: auto; scrollbar-width: none; }
.main-nav a, .nav-item-special { text-decoration: none; color: #a1a1a6; font-size: 14px; white-space: nowrap; cursor: pointer; }
.nav-item-special { color: var(--gold); font-weight: bold; }

/* Hero Section */
.hero { 
    background: linear-gradient(135deg, #050505 0% 
    #0d1221 50%, #050505 100%);
    padding: 20px 5% 0 5%;
    text-align: center;
    min-height: 85vh;
}
.hero-subtitle { color: var(--gold); letter-spacing: 4px; font-size: 12px; font-weight: 700; text-transform: uppercase; margin-bottom: 10px; }
.hero-title.gradient-text { 
    font-size: clamp(40px, 8vw, 70px); 
    font-weight: 800; 
    background: linear-gradient(180deg, #ffffff 40%, #a1a1a6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.1;
}
.hero-description { color: var(--gri-tèks); font-size: 20px; margin-top: 10px; }

/* Bouton Detay ak Rezève */
.hero-links { display: flex; justify-content: center; gap: 30px; margin-top: 25px; align-items: center; }
.link-blue { color: var(--blue-link); text-decoration: none; font-size: 19px; }
.link-reserve { 
    color: var(--gold); 
    text-decoration: none; 
    font-size: 18px; 
    border: 2px solid var(--gold); 
    padding: 10px 25px; 
    border-radius: 30px; 
    display: flex; 
    align-items: center; 
    gap: 8px;
    transition: 0.3s;
}
.link-reserve:hover { background: var(--gold); color: #000; }

/* Foto */
.hero-image-container { margin-top: 30px; }
.iphone-img { width: 100%; max-width: 600px; filter: drop-shadow(0 20px 50px rgba(187, 160, 73, 0.8)); animation: fadeInUp 1.5s ease; }

/* Sidebar */
.sidebar { position: fixed; top: 0; left: -100%; width: 300px; height: 100%; background: rgba(0,0,0,0.98); backdrop-filter: blur(10px); z-index: 2000; transition: 0.4s; padding: 25px; border-right: 1px solid #333; }
.sidebar.active { left: 0; }
.sidebar-header { display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px; border-bottom: 1px solid #222; padding-bottom: 15px; }
.side-links li { list-style: none; padding: 15px 0; border-bottom: 1px solid #111; }
.side-links a { text-decoration: none; color: #fff; display: flex; align-items: center; gap: 15px; font-size: 17px; }
.gold { color: var(--gold); }

/* Section blan anba a */
.kategori-section { padding: 80px 5%; background: #fff; text-align: center; color: #3a3434; }

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(40px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Nou kache tout slide yo epi nou ba yo yon tranzisyon dou */
.slide {
    display: none;
    width: 100%;
    animation: fadeSlide 1s ease-in-out;
transition: opacity 1.5s ease-in-out;
}

/* Se sèl sa ki gen klas 'active' a k ap parèt */
.slide.active {
    display: block;
    animation: fadeSlide 0.5s cubic-bezier(0.4 0, 0.2, 1);
}

/* Animasyon pou kontni an parèt bèl */
@keyframes fadeSlide {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Asire foto yo gen menm gwosè pou yo pa sote lè y ap chanje */
.iphone-img {
    height: auto;
    max-height: 450px;
    object-fit: contain;
}

.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column; /* Mete yo yonn anba lòt */
    align-items: center;
    color: #d4af37; /* Lò Haïzone lan */
    font-size: 20px; /* Yon ti kras pi piti pou yo ka parèt byen an doub */
    cursor: pointer;
    animation: bounceDouble 2s infinite;
}

/* Lojik animasyon an */
@keyframes bounceDouble {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    40% {
        transform: translateX(-50%) translateY(-10px);
    }
    60% {
        transform: translateX(-50%) translateY(-5px);
    }
}



/* Modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(202, 202, 202, 0.8);
    backdrop-filter: blur(15px);
    justify-content: center;
    align-items: center;
    padding: 15px;
}

/* Bwat la - Clean & Minimalist */
.modal-kontni {
    background: #bd9f9f;
    border: 1px solid rgba(255, 255, 255, 0.05);
    width: 100%;
    max-width: 400px;
    border-radius: 32px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 40px 100px rgba(170, 147, 147, 0.8);
}

/* Galeri ti foto yo (Scroll horizontal) */
.galeri-ti-foto {
    display: flex;
    gap: 12px;
    margin-top: 15px;
    overflow-x: auto;
    padding: 5px;
    scrollbar-width: none; /* Kache scrollbar sou Firefox */
}
.galeri-ti-foto::-webkit-scrollbar { display: none; } /* Kache scrollbar sou Chrome */

.galeri-ti-foto img {
    width: 65px; height: 65px;
    border-radius: 16px;
    object-fit: cover;
    border: 2px solid transparent;
    background: #b6b5b5;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Bouton Premium */
#btn-final-achte {
    background: #fff; /* Blan olye de lò pou n chanje style la */
    color: #080808;
    border: none;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}
#btn-final-achte:active { transform: scale(0.96); }

/* Kontni modal la pou l pa depase ekran */
.modal-kontni {
    background: #cac2c2;
    width: 95%;
    max-width: 420px;
    max-height: 90vh; /* Pa depase 90% wotè ekran an */
    border-radius: 30px;
    padding: 20px;
    overflow-y: auto; /* Scroll si kontni an twòp */
    border: 1px solid #ccbfbf;
}

/* Gwo imaj la */
.main-img {
    width: 100%;
    height: 270px;
    object-fit: contain;
    background: #ffffff;
    border-radius: 20px;
    margin-top: -20px;
}

/* Galeri ti foto yo */
.galeri-ti-foto {
    display: flex;
    gap: 5px;
    margin: 1px 0;
    overflow-x: auto; /* Pèmèt scroll horizontal sou mobil */
    justify-content: center;
    padding-bottom: 5px;
}
/* pou louvri modal*/
.thumb-img {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    object-fit: cover;
    border: 2px solid #333;
    cursor: pointer;
    transition: 0.3s;
}

.thumb-img:hover { border-color: gold; }

/* Seksyon tèks ak bouton */
.info-seksyon h3 { color: white; margin: 10px 0 5px; font-size: 1.0rem; margin-top: -5px;}
.info-seksyon p { color: #888; font-size: 0.9rem; margin-bottom: 20px; }

.footer-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #504e4e;
    padding: 15px;
    border-radius: 20px;
}

.pri-tag { color: gold; font-size: 1.8rem; font-weight: 900; }

#btn-final-achte {
    background: rgb(241, 209, 22);
    color: rgb(5, 5, 5);
    border: none;
    padding: 2px 2px;
    border-radius: 12px;
    font-weight: 50;
    cursor: pointer;
}

/*pou grid-card yo*/
/* 1. KONTENÈ PWODWI YO */
#lis-pwodwi-dinamik {
    display: grid !important;
    grid-template-columns: repeat(auto-fill,
    minmax(150px, 1fr));
    flex-wrap: wrap;
    gap: 5px;
    padding: 2px;
    width: 100%;
}

/*Pou ti ekran*/
@media (max-width:600px) {
    #lis-pwodwi-dinamik {
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    padding: 8px;
    }
}


/* 2. KAT PWODWI A (FIXED SIZE) */
.pwodwi-card {
    background: #3a3232;
    border: 1px solid #222;
    border-radius: 24px;
    padding: 7px;
    width: 150px;
    height: 270px; /* Wotè fiks pou tout kat yo menm jan */
    position: relative;
    overflow: hidden; /* Pou rido a ka kache anlè */
    display: flex;
    flex-direction: column;
    transition: all 0.1s ease;
    position: relative;
}

.pwodwi-card:hover {
    border-color: rgba(255, 215, 0, 0.5);
}

/* 3. TI FLÈCH V K AP DANSE A */
.ti-flech-v {
    position: absolute;
    top: 12px;
    right: 15px;
    color: gold;
    font-size: 20px;
    cursor: pointer;
    z-index: 20; /* Pi wo pase rido a */
    padding: 5px;
    animation: danse 1.5s infinite ease-in-out;
}

@keyframes danse {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(6px); } /* Li moute desann */
}

/* 4. RIDO DESKRIPSYON AN (OVERLAY) */
.deskrip-overlay {
    position: absolute;
    top: -100%; /* Kache anlè nèt */
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(148, 139, 139, 0.96);
    color: white;
    padding: 50px 20px;
    transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 15;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    pointer-events: none; /* Sa pèmèt ou klike sou foto anba l lè l kache */
}

/* Lè rido a louvri ak JS */
.deskrip-overlay.active {
    top: 0;
    pointer-events: auto; /* Li vin ka klike kounye a */
}

/* 5. IMAJ AK TI FOTO YO */
.foto-prensipal {
    width: 100%;
    height: 140px;
    object-fit: contain; /* Pou foto a pa janm defòme */
    background: #817777;
    border-radius: 18px;
    cursor: pointer;
}

.ti-foto-galeri {
    display: flex;
    gap: 2px;
    margin-top: 10px;
    justify-content: center;
}

.ti-foto-galeri img {
    width: 35px;
    height: 42px;
    background: white; 
    padding: 2px;
    border-radius: 9px;
    object-fit: contain;
    border: 2px solid #3596e0;
    cursor: pointer;
}

/* 6. NON PWODWI AK PRI */
.enfos-pwodwi {
    margin-top: 10px;
    flex-grow: 1;
    align-items: center;
    text-align: center;
    width: 100%;
}

.non-pwodwi {
    font-size: 0.75rem;
    font-weight:70;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pri-seksyon {
    margin-top: 3px;
    gap: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    
}

.pri-rabe {
    color: rgb(247, 246, 246);
    font-size: 0.9rem;
    font-weight: 700px;
    text-align: center;
}

.pri-original {
    color: #f00000;
    text-decoration: line-through;
    font-size: 0.9rem;
    margin-left: 2px;
    opacity: 1.9;
}

/* M mete sa pou bouton like la*/
.kontene-like {
    position: absolute; /* Sa enpòtan pou l ka flote nan kwen an */
    bottom: 2px;
    right: 8px;
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3); /* Yon ti fon nwa transparan */
    padding: 2px 8px;
    border-radius: 12px;
    z-index: 10;
}

.ti-ke {
    font-size: 1rem;
    color: #666;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.chif-like {
    font-size: 0.75rem;
    color: white;
    font-weight: bold;
}

@keyframes bat-ke {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1.2); }
}

.ti-ke.active {
    color: #da9009 !important;
    animation: bat-ke 0.3s ease-in-out; 
}
.etiket-temu {
    position: absolute;
    bottom: -8px; /* Sa fè l desann nan pye ronn jòn nan */
    left: 50%;
    transform: translateX(-50%); /* Pou l toujou rete nan mitan */
    background-color: #28a745; /* Koulè vèt Temu an (oswa #ff4500 si w vle wouj) */
    color: white;
    font-size: 9px;
    font-weight: bold;
    padding: 2px 8px;
    border-radius: 10px;
    white-space: nowrap;
    border: 1px solid white; /* Ti liy blan an pou l parèt dekole */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}


#panye-fiks {
    /* Rès kòd ou te genyen an... */
    animation: dansePanye 3s infinite ease-in-out;
}

@keyframes dansePanye {
    0% { transform: scale(1); }
    50% { transform: scale(1.1) rotate(15deg); } 
    100% { transform: scale(1); }
}

.skeleton-card {
    width: 100%;
    height: 350px;
    background: linear-gradient(90deg, #1a1a1a 25%, #333 50%, #1a1a1a 75%);
    background-size: 200% 100%;
    animation: loading-skeleton 1.5s infinite;
    border-radius: 12px;
    margin-bottom: 20px;
}

@keyframes loading-skeleton {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
}